.main-chat
  .main-chat__group-overview
    .group-overview__box
      .group-overview__group-name
        test
      .group-overview__group-message
        Member:masa
    .group-overview__edit-box
      = link_to "Edit", "#", class: "group-overview__edit-btn"
  .main-chat__user-message
  .main-chat__message-form