!!!
.main-chat
  .main-chat__group-overview
    .group-overview__box
      .group-overview__box__group-name
        test
      .group-overview__box__group-member
        Member:masa
    .group-overview__edit-box
      = link_to "Edit", "#", class: "group-overview__edit-box__btn"

  .main-chat__user-message
    .user-message__name-box
      .user-message__name-box__talker
        masa
      .user-message__name-box__day-time
        - time = Time.now
        = time.strftime("%Y/%-m/%-d/(%a) %-H時%-M分%-S秒")
    .user-message__message-box
      おはよう！

    .user-message__name-box
      .user-message__name-box__talker
        masa
      .user-message__name-box__day-time
        - time = Time.now
        = time.strftime("%Y/%-m/%-d/(%a) %-H時%-M分%-S秒")
    .user-message__message-box
      おはよう！

  .form
    %form(action="" method="post" class="form__area")
      .send__message
        %input(type="text" placeholder="type a message" class="send__message__text")
        %label{class: "send__message__image", for: "image__box"}
          = icon('fas', 'image')
          %input(type="file" class="message__image" id="image__box")
      %input(type="submit" value="Send" class="form__submit")
